html {
	background-color: $primary-color;
	color: #fff;

	// OVERRIDE SELECTION CSS
	::selection {
		background: $link-color;
	}
	::-moz-selection {
		background: $link-color;
	}
}

a:not(.btn) {
	padding-bottom: 2px;
	border-bottom: 1px solid transparentize($link-color, .15);
}
